<%- include('../partials/header') %>
<h3>My-Skills as of <%= time %></h3>
<ul>
  <% skills.forEach(function(t) { %>
    <li>
      <form action="/skills/<%= t.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete</button>
      </form>
      <a href="/skills/<%= t.id %>">
        <%= t.skill %>
      </a>
        - 
      <!-- <%= t.done ? '' : '' %> -->
    </li>
  <% }); %>
</ul>
<a href="/skills/new">Add</a>

<%- include('../partials/footer') %>